<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <p style="color: red;">{{authService.errorMessage}}</p>
    </mat-card-header>
    <mat-card-content style="margin-bottom: 0px;">
      <form class="example-form" [formGroup]="loginForm" novalidate>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username"
                       formControlName="usernameFormControl" required>
                <mat-error>{{getUsernameErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input (keyup.enter)="login()" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                       formControlName="passwordFormControl" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>{{getPasswordErrorName()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-slide-toggle
      class="slide-section"
    (change)="checked = !checked">
      Remember Me!
    </mat-slide-toggle>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
      <button mat-button [routerLink]="['/register']">Register</button>
    </mat-card-actions>
  </mat-card>
</div>
