<h2 mat-dialog-title>Create new meeting</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup" novalidate>
    <div>
      <h3>Title</h3>
      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Input title" required formControlName="titleFormControl"/>
        <mat-error>{{getTitleErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <h3>Members</h3>
      <mat-form-field>
        <mat-label>Add members</mat-label>
        <mat-select [(ngModel)]="members" multiple [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let friend of friends" [value]="friend">{{friend.firstName}} {{friend.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div class="inline">
        <h3>Starts at</h3>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          [time24hr]="true"
          [minDate]="today"
          placeholder="Choose date"
          required formControlName="startFormControl"
        />
        <mat-error>{{getStartErrorMessage()}}</mat-error>
      </div>
      <div class="inline">
        <h3>Ends at</h3>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          [time24hr]="true"
          [minDate]="this.formGroup.get('startFormControl').value"
          placeholder="Choose date"
          required formControlName="endFormControl"
        />
        <mat-error>{{getEndErrorMessage()}}</mat-error>
      </div>
    </div>
    <div>
      <h3>Room</h3>
      <mat-form-field>
        <mat-label>Choose room</mat-label>
        <mat-select required formControlName="roomFormControl">
          <mat-option *ngFor="let item of allRooms" [value]="item">{{item.name}}, {{item.address}}</mat-option>
        </mat-select>
        <mat-error>{{getRoomErrorMessage()}}</mat-error>
        <mat-hint style="color: red;">{{checkingMessage}}</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" cdkFocusInitial
          (click)="createMeeting()">Create
  </button>
</mat-dialog-actions>
