<h2 mat-dialog-title>Create new meeting</h2>
<mat-dialog-content class="mat-typography">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Title</th>
        <th>Members</th>
        <th>Place</th>
        <th>Starts at</th>
        <th>Ends at</th>
      </tr>
      </thead>

      <tbody>
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="title"
        />
      </td>
      <td>
        <mat-form-field>
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="members" multiple>
            <mat-option *ngFor="let friend of friends" [value]="friend">{{friend.firstName}} {{friend.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>

      </td>
      <td>
        <input
          type="text"
          class="form-control"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="start"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          [time24hr]="true"
          [minDate]="today"
          placeholder="Choose date"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="end"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          [time24hr]="true"
          [minDate]="start"
          placeholder="Choose date"
        />
      </td>
      </tbody>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial
          (click)="createMeeting()">Create</button>
</mat-dialog-actions>
