<form class="friends-form">
  <mat-form-field class="friends-full-width">
    <input type="text" #friendInput placeholder="Your friends" matInput [formControl]="friendsControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectFriend($event)">
      <mat-option *ngFor="let friend of filteredFriends | async"  [value]="friend.login">
        {{friend.firstName}} {{friend.lastName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
